.progress {
  --thickness: 0.5rem;
  --half-thickness: calc(var(--thickness) / 2);
  position: relative;
  color: #2962ff;
  height: var(--thickness);
  background-color: #333;
  border-radius: var(--half-thickness);
}

.progress::before,
.progress-handle::after {
  content: '';
  position: absolute;
  left: 0;
  height: var(--thickness);
  width: var(--thickness);
  border-radius: 50%;
  background-color: currentColor;
}

.progress::after {
  content: '';
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  height: 100%;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(var(--progress));
}

.progress-handle {
  position: absolute;
  left: var(--thickness);
  right: 0;
  height: 100%;
  transform: translateX(calc(-100% + var(--progress)));
}

.progress-handle::after {
  left: auto;
  right: 0;
  transition: transform 0.2s ease;
}

.progress:hover .progress-handle::after {
  transform: scale(1.5);
}

.progress-input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0 var(--half-thickness);
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.progress-vertical {
  width: var(--thickness);
  height: var(--verticalSize);
}

.progress-vertical::after {
  left: 0;
  top: 0.25rem;
  bottom: 0.25rem;
  width: 100%;
  height: auto;
  transform-origin: bottom;
  transform: scaleY(var(--progress));
}

.progress-vertical .progress-input {
  transform-origin: 0 0;
  transform: rotate(-0.25turn) translateX(-100%);
  width: var(--verticalSize);
  height: var(--thickness);
}

.progress-vertical::before {
  bottom: 0;
}

.progress-vertical .progress-handle::after {
  top: 0;
}

.progress-vertical .progress-handle {
  top: 0;
  height: auto;
  bottom: var(--thickness);
  transform: translateY(calc(100% - var(--progress)));
}
