.progress {
  --thickness: 0.5rem;
  position: relative;
  color: #2962ff;
  height: var(--thickness);
  background-color: #333;
  border-radius: calc(var(--thickness) / 2);
}

.progress::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: currentColor;
}

.progress::after {
  content: '';
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  height: 100%;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(var(--progress));
}

.progress-handle {
  position: absolute;
  left: var(--thickness);
  right: 0;
  height: 100%;
  transform: translateX(calc(-100% + var(--progress)));
}

.progress-handle::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: currentColor;
  transition: transform 0.2s ease;
}

.progress:hover .progress-handle::after {
  transform: scale(1.5);
}

.progress-input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0 calc(var(--thickness) / 2);
  margin: 0;
  opacity: 0;
  z-index: 1;
}
