.main {
  grid-area: content;
  overflow-y: auto;
  margin: -5rem 0;
  padding: 5.5rem 3rem;
}

.main::-webkit-scrollbar {
  width: 0.75rem;
}

.main::-webkit-scrollbar-button {
  height: 5rem;
}

.main::-webkit-scrollbar-thumb {
  background-color: #333;
}
